:root{
    --table-width: 36rem;
}
/*#region Game*/
#game { 
    position: relative;
    max-width: var(--table-width);
    grid-area: 1 / 2 / 9 / 10; 
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    border-radius: 1rem;
    overflow: hidden;
    transition: 0s all;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-drag: none;
    -ms-user-drag: none; 
    -webkit-user-drag: none;
}
#game>div{
    background-size: cover;
    background-repeat: no-repeat;
    cursor: default;
    -webkit-user-drag: none; 
    -moz-user-drag: none;
    -ms-user-drag: none; 
    
}
.wRookSp{
    background-image: url("../images/chess-textures/pack1/WhiteRook.png");
}
.bRookSp{
    background-image: url("../images/chess-textures/pack1/BlackRook.png");
}
.wBishopSp{
    background-image: url("../images/chess-textures/pack1/WhiteBishop.png");
}
.bBishopSp{
    background-image: url("../images/chess-textures/pack1/BlackBishop.png");
}
.wKnightSp{
    background-image: url("../images/chess-textures/pack1/WhiteKnight.png");
}
.bKnightSp{
    background-image: url("../images/chess-textures/pack1/BlackKnight.png");
}
.wQueenSp{
    background-image: url("../images/chess-textures/pack1/WhiteQueen.png");
}
.bQueenSp{
    background-image: url("../images/chess-textures/pack1/BlackQueen.png");
}
.wKingSp{
    background-image: url("../images/chess-textures/pack1/WhiteKing.png");
}
.bKingSp{
    background-image: url("../images/chess-textures/pack1/BlackKing.png");
}
.wPawnSp{
    background-image: url("../images/chess-textures/pack1/WhitePawn.png");
}
.bPawnSp{
    background-image: url("../images/chess-textures/pack1/BlackPawn.png");
}

.pieceSp:hover{
    cursor: pointer;
}

.selected{
    background-image: url("../images/chess-textures/selected.png");
}
.attacked{
    background-color: rgb(190, 43, 43) !important; 
    border: 1px solid rgb(114, 1, 1);
}
.checked{
    background-color: rgb(190, 43, 43) !important; 
    border: 1px solid rgb(114, 1, 1);
}
.select-promote{
    background-color: rgb(137, 70, 226) !important; 
}
.doCastle,
.select-en-passant{
    background-image: none;
    background-color: rgb(137, 70, 226) !important; 
}
.pawn-promote{
    display: none;
    left:0%;
}
/*#endregion*/

.content{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: rgba(114, 114, 114, 0.6);
    display: flex;
    flex-direction: row;
    
}
.draw{
    display: flex;
    flex-direction: column;
}
.tools{
    padding: 0;
    margin: 1rem 0;
    width: var(--table-width);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #eeeeee65;
    border-radius: 1rem;
}
.tool{
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    transition: 0.2s all;

}
.tool:nth-last-child(1),
.tool:nth-last-child(2){
    scale: 0.9;
    color: white;
}
.tool-selected{
    transform: translateY(-10%);
    opacity: 0.8;
}

.options-rules{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(58, 58, 58);
    margin-left: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.castle-rules{
    text-align: center;
}
p.p-rules{
    margin: 0.2rem 1rem;
    text-align: end;
}
.options-checkbox-rules{
    accent-color: gray;
    height:auto;
    margin: auto 0.6rem;
    scale: 1.5;
}
.select-local{
    background-color: rgb(14, 14, 14);
    color: white;
    border: 0;
    border-radius: 0.5rem;
}
.hr{
    margin: 1rem 0;
    height: 0.2rem;
    border-radius: 1rem;
}
h2{
    margin-bottom: 1rem;
}
.advanced-settings{
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: center;
}
.advanced-settings{
    display: grid;
    grid-template-columns: auto auto;
}
.options-buttons{
    margin-top: 2rem;
}
.options-button{
    margin: 0 1rem;
    background-color: gray;
    color: #FFF;
    font-size: 1.5rem;
    font-family: monospace, sans-serif;
    border: 0;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    transition: 0.3s all;
}
.options-button:hover{
    background-color: rgb(160, 160, 160);
}
#eraser-tool{
    filter: invert(0.2);
}
.color-settings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.color-settings input{
    accent-color: gray;
    scale: 1.5;
}
.shortcut{
    margin: 0 1rem;
    background-color: gray;
    color: #FFF;
    font-size: 1.5rem;
    font-family: monospace, sans-serif;
    border: 0;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    transition: 0.3s all;
}
.shortcuts{
    display: flex;
    justify-content: space-between;
}
.shortcut:hover{
    background-color: rgb(160, 160, 160);
}

@media screen and (max-width: 1200px) {
    .content{
        flex-direction: column;
        margin-left: -0.55rem;
    }
    .options-rules{
        margin-left: 0;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 700px) {
    .tools{
        width: 24rem;
    }
    .options-rules{
        width: 24rem;
    }
    .shortcut{
        font-size: 1rem;
        margin: 0 0.4rem;
    }
    p.p-rules{
        margin-left: 1rem;
        font-size: 0.8rem;
    }
    .p-rules input{
        scale: 1;
    }
}
@media screen and (max-width: 450px) {
    .content{
        background-color: rgba(0, 0, 0, 0);
    }
    .tools{
        width: 20rem;
    }
    .options-rules{
        width: 20rem;
    }
    .shortcut{
        font-size: 0.6rem;
        margin: 0 0.4rem;
    }
    p.p-rules{
        margin-left: 1rem;
        font-size: 0.6rem;
    }
}