.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

.front{
    animation: smooth-apear 0.8s ease-in;
}

.gamemodes{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: row;
    grid-template-columns: 33% 33% 33%;

}

.gm-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    padding: 1rem 3rem;
    margin: 1rem 1.6rem;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 0.4rem gray ;
    cursor: pointer;
    transition: 0.3s all;
}
.gm-card:nth-child(3n + 1){
    animation: left-slide 2s ease-out;
}
.gm-card:nth-child(3n + 2){
    animation: middle-slide 2s ease-out;
}
.gm-card:nth-child(3n + 3){
    animation: right-slide 2s ease-out;
}

.gm-card:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(85, 85, 85);
    background-color: rgb(29, 29, 29);
    transform: translateY(-0.5rem);
    
}
.gm-image{
    width: clamp(4rem, 10rem, 10rem);
    height: auto;
    color: white;
}
.gm-title{
    text-shadow: 0.2rem 0.2rem 0.2rem gray;
    text-align: center;
    font-size: 1.6rem;
}

.play-local{
    min-width: 26rem;
    z-index: 9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 3rem;
    border-radius: 1rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(100vw, -50%);
    background-color: rgb(24, 24, 24);
    transition: 0.8s all ease-in-out;
}
.select-local{
    background-color: rgb(14, 14, 14);
    color: white;
    border: 0;
}
.advanced-options-local{
    cursor: default;
    text-decoration: underline;
    font-size: 1rem;
    color: rgb(221, 221, 221);
}
.advanced-local table tr td{
    padding: 0.5rem;
}
.advanced-local{
    width: 100%;
    display: none;
}
input[type="checkbox"] {
    filter: invert(100%) saturate(0);
    transform: translateY(-40%) scale(1.5);
    cursor: pointer;
}
.play-button{
    padding: 0.5rem 0.7rem;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 0;
    border-radius: 1rem;
    font-size: 1.3rem;
    transition: 0.3s all;
}
.play-button:hover{
    background-color: rgb(66, 66, 66);
}


#screen-blackout{
    display: none;
    position: fixed;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

@keyframes right-slide {
    0%{
        transform: translateX(100vw);
    }
    30%{
        transform: translateX(100vw);
    }
    90%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes left-slide {
    0%{
        transform: translateX(-100vw);
    }
    30%{
        transform: translateX(-100vw);
    }
    90%{
        transform: translateX(10%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes middle-slide {
    0%{
        transform: translateY(100vw);
    }
    30%{
        transform: translateY(100vw);
    }
    90%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes smooth-apear {
    0%{
        opacity: 0;
        transform: scale(0.2);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}


@media screen and (max-width: 900px) {
    .gamemodes{
        flex-direction: column;
        height: fit-content;
    }
    .gm-card:nth-child(1){
        animation: left-slide 2s ease-out;
    }
    .gm-card:nth-child(2){
        animation: right-slide 2s ease-out;
    }
    .gm-card:nth-child(3){
        animation: left-slide 2s ease-out;
    }
    .content{
        overflow: visible;
    }
}
@media screen and (max-width: 480px) {
    .front{
        font-size: 2rem;
    }
}