.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    overflow: hidden;
}
.front{
    animation: opacity 0.8s ease-out;
}

#contact-form{
    width: clamp(16rem, 50%, 60rem);
    animation: slide-in 0.7s ease-out;
}
.contact-title{
    color: white;
    font-size: 1.6rem;
}
.input-box{
    width: 100%;
    padding: 0.1rem 0.3rem;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 0.5rem solid rgb(0, 0, 0);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
#contact-theme,
#contact-email,
#contact-name{
    font-size: 1.2rem;
}
#contact-message{
    resize: vertical;
    height: 8rem;
}
#submit-button{
    float: right;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    border: 0;
    border-radius: 1.8rem;
    transition: 0.3s;
}
#submit-button:hover{
    background-color: rgb(19, 19, 19);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(0, 0, 0) inset !important;
    -webkit-text-fill-color: white;
}

@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateY(100vh);
    }
    50%{
        opacity:0.3;

    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}